.d-flex.flex-colum.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.shadow-sm

    nav.my-2.my-md-0.mr-md-3
    a.p-2.text-dark(href='/') Accueil
    a.p-2.text-dark(href='/singup') Inscription
    a.p-2.text-dark(href='/singin') Connection
    a.p-2.text-dark(href='/admin') Admin
    a.p-2.text-dark(href='/chat') Chat