html
    head
        title Inscription
        meta(charset='utf-8')
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css', rel='stylesheet', integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/style.css")

    body
        .container
            .jumbotron.mt-3
                include nav.pug
                h1 inscription

                form(action="/singup" method="post")
                    div.form-group
                    label.for.exampleInputEmail1 Nom d'utilisateur:
                    input#username.form-control.form-control-md(type="username", name="username" placeholder="Entrez votre nom d'utilisateur...")
                    br
                    label.for.exampleInputEmail1 Adresse mail:
                    input#email.input(type="email" name="email" placeholder="Entrez votre email...").email.form-control.exampleInputEmail
                    div.form-group
                    br
                    label.for.exampleInputEmail1 Mot de passe:
                    input#password.input(type="password" name="password").type.password.form-control.exampleInputPassword1
                    br
                    button(type="submit").submit.btn.btn-primary.Submit s'inscrire
                    p
                        | Vous avez un compte?
                        a.font-weight-semibold(href='./singin')  Se connecter
                        | .
