html
    head
        title Connexion
        meta(charset='utf-8')
        link(href='https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css', rel='stylesheet', integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK", crossorigin="anonymous")
        link(rel="stylesheet", href="/css/style.css")

    body
        .container
            .jumbotron.mt-3
                include nav.pug
                h1 connexion

                form(action="/singin" method="post")
                    div.form-group
                    label.for.exampleInputEmail1 Email address:
                    input(type="email" name="email").email.form-control.exampleInputEmail
                    div.form-group
                    label.for.exampleInputPassword1 Password:
                    input(type="password" name="password").type.password.form-control.exampleInputPassword1
                    br
                    button(type="submit").submit.btn.btn-primary.Submit connection
